html {
    font-family: 'Manrope', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
}

header div:last-child {
    display: flex;
    gap: 15px;
}

header div:first-child a {
    display: flex;
    align-items: center;
    gap: 8px;
}

body {
    min-height: 100vh;
    background: #2a2438;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

header, main, footer {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

.date-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-selector .fa-solid {
    font-size: 25px;
}

.set {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

label {
    margin-right: 10px; 
    font-weight: normal;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50px;
    margin-right: 5px;
}

input[name="name"] {
    width: 100%;
    margin-bottom: 10px;
}

.set input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
    margin-right: 5px;
}

.set input, .set select {
    margin-right: 5px; 
}

.set label {
    margin-right: 5px;
}
